.title{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
    background-color: crimson;
}
.title p {
    margin: 2px;
    font-size: 36px;
    display: flex;
    color: #171718;
    justify-content: center;
    margin-bottom: 0;
    margin-left: 10px;
}
h5{
    position: relative;
}