.title{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
    background: rgb(127,190,252);
    background: radial-gradient(circle, rgba(127,190,252,1) 0%, rgba(148,187,233,1) 100%);}
.title p {
    margin: 2px;
    font-size: 36px;
    display: flex;
    color: #171718;
    justify-content: center;
    margin-bottom: 0;
    margin-left: 10px;
}
h5{
    position: relative;
}