.resume h4{
    /* display: flex;
    justify-content: start; */
    font-size: 36px;
    margin-bottom: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}
/* .resume p{
    font-size: 17px;
    font-weight: lighter;
    color: #646464;
    font-family: auto;
    text-indent: 20px;
    text-align: justify;
    text-align: center;
} */
.bi-exclamation-circle{
    display: flex;
    width: 5px;
    height: 5px;
    /* background: blue; */
}