.wrapContact{
    display: flex;
    gap: 15px;
    justify-content: center;
}
.contact h4{
    font-size: 36px;
    margin-bottom: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.contact input{
    border-style: none;
}