.formWrap{
    display: flex;
    justify-content: center;
}
.searchField{
    width: 100%;
    justify-content: center;
}
.searchField input{
    border-radius: 10px;
    width: 15%;
}
.searchField input::placeholder {
    color: #646464;
    text-align: center;
    border-style: none!important;
}
.searchBarContainer{
    padding-bottom: 10px;
}
.weatherBtn{
    border-style: none!important;
}
.weatherWrap{
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: center;
}
.weatherWrap h3{
    font-size: 26px;
}
.weatherWrap p{
    font-family: auto;
    color: #646464;
}
