/* Tooltip.css */
.tooltip-container {
    position: relative;
    left: 7px;
    top: -10px;
    display: inline-block;
  }
  
  .tooltip-text {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    font-size: 15px;
    border-radius: 4px;
    padding: 15px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 100%;
    transform: translateX(-10%);
    opacity: 0;
    transition: opacity 0.2s;
  }
  
  .tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
  