.projects-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive grid */
  gap: 20px;
  padding: 20px;
}

.preview-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.preview-card img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the card area */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  z-index: 1;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease-in-out;
}

.lock-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem; /* Adjust size as needed */
  color: rgba(255, 255, 255, 0.8); /* Light color for lock icon */
  z-index: 2;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease-in-out;
}

.coming-soon-text {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: rgba(255, 255, 255, 0.8);
  z-index: 2;
  font-size: 1rem;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease-in-out;
}

.preview-card:hover .overlay,
.preview-card:hover .lock-icon,
.preview-card:hover .coming-soon-text {
  opacity: 1; /* Show overlay, lock icon, and text on hover */
}

.project-title {
  margin-top: 10px;
  font-size: 1.2rem;
  text-align: center;
  color: #333; /* Adjust color as needed */
}
