.gallery{
  padding: 150px 150px;
    /* padding-top: 150px;
    padding-left: 50px;
    padding-bottom: 150px; */
    margin: 100px 0;
}
.gallery h4{
    font-size: 36px;
    margin-bottom: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.gallery p{
    padding:0px 424px 80px 424px;
    font-size: 17px;
    font-family: auto;
    font-weight: lighter;
    color: #646464;
    text-indent: 20px;
    text-align:inherit;
    display: flex;
    justify-content: center;
}
.galleryContainer{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 200px;
}
.galleryContainer img{
    width: 50%;
    height: auto;
    border-radius: 10%;
}
.card1,
.card2,
.card3 {
  display: flex;
  flex-direction: row; /* Horizontal layout for items within each card */
  justify-content: space-between; /* Put items at each card side */
  align-items: center; /* Vertically center items within each card */
  /* Add any other styling you need for the cards */
}
/* Style the arrow buttons */
.arrowButton {
    color: #111010;
    border: none;
    cursor: pointer;
    font-size: 40px; /* Adjust the font size as needed */
  }
  /* Style the left arrow button */
  .arrowButton:first-child {
    margin-right: 10px; /* Create spacing between the left arrow and the image */
    padding-left: 100px;
    
  }
  
  /* Style the right arrow button */
  .arrowButton:last-child {
    margin-left: 10px; /* Create spacing between the right arrow and the image */
    padding-right: 100px;

  }
img{
    max-width: 100%;
    max-height: 400px;
    transition: opacity 1s ease-in-out; /* Add a smooth opacity transition */
}