.work-wrap {
  background: linear-gradient(90deg, rgba(54, 136, 222, 0.9) 24%, rgba(41, 67, 111, 1) 74%);;
  height: auto;
  padding: 40px 0;
}

.workList {
  width: 60%;
  margin: 0 auto;
}
.workList-title{
  padding-bottom: 30px;
}

.workItem {
  display: flex;
  align-items: flex-start;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(99, 179, 237, 0.3);
  transition: box-shadow 0.3s;
  text-align: left;
}

.workItem:hover {
  box-shadow: 0 4px 8px rgba(99, 179, 237, 0.6);
}

.imgcontainer {
  flex: 0 0 100px;
  margin-right: 20px;
}

.imgcontainer img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.description {
  flex: 1;
  text-align: left;
}

.description h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.description p {
  font-size: 1rem;
  color: #666;
}

/* Dark Mode */
.dark-mode .workItem {
  background-color: #2e2e2e;
  color: #e0e0e0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.dark-mode .description p {
  color: #b0b0b0;
}

.dark-mode .description h2 {
  color: #e0e0e0;
}

/* Responsive for smaller screens */
@media (max-width: 768px) {
  .workList {
    width: 90%;
  }

  .workItem {
    flex-direction: column;
    padding: 15px;
  }

  .imgcontainer {
    margin-bottom: 15px;
  }

  .imgcontainer img {
    width: 80px;
  }
}
