body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54vh;
  background-color: #fff;
  padding: 0 20px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.profile-image img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-image img:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.profile-text {
  margin-right: 50px;
  text-align: right;
}

.profile-text h1 {
  font-size: 5rem;
  margin-bottom: 0.5rem;
  background: rgb(54, 136, 222);
  background: linear-gradient(90deg, rgba(54,136,222,0.9) 24%, rgba(41,67,111,1) 74%);
  -webkit-background-clip: text;
  color: transparent;
}

.profile-text h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #666;
}

.profile-text p {
  font-size: 1.4rem;
  font-style: italic;
  color: #646464;
}

/* Dark mode */
.dark-mode .profile-container {
  background-color: #121212;
}

.dark-mode .profile-text h1 {
  background: radial-gradient(circle, rgba(54,198,222,0.896796218487395) 3%, rgba(62,107,186,0.9556197478991597) 98%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dark-mode .profile-text h2 {
  color: #e0e0e0;
}

.dark-mode .profile-text p {
  color: #bbbbbb;
}
.profile-description{
  font-size: 1rem;
  font-style: bold;
  color: #646464;
}
.dark-mode .profile-description p{
  color: #e0e0e0
}

/* Responsive Design */
@media (max-width: 768px) {
  .profile-container {
    flex-direction: column;
    padding: 20px;
    text-align: center;
  }

  .profile-text {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .profile-image img {
    width: 180px;
    height: 180px;
  }
  .profile-description{
    padding: 5px;
  }
}

@media (max-width: 480px) {
  .profile-text h1 {
    font-size: 3.5rem;
  }

  .profile-text h2 {
    font-size: 1.8rem;
  }

  .profile-text p {
    font-size: 1.2rem;
  }
  .profile-description{
    padding: 5px;
  }
}
